

body{
    background-color: #F6F6Fa;

    /* сделать отступ, типа общая конструкция *боди* вдавливает все что находится внутри на 40px */
    padding: 40px 40px 40px 40px;
    
    font-family: "Montserrat", sans-serif;
}

/* Обращатся по классу - .название-класса */

ul, ol{
    margin-top: 0px;
    margin-bottom: 0px;
}


.wrapper{
    background-color: #ffffff;

    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0px auto;
}

.main{
    padding: 88px 80px 40px 80px;
    box-sizing: border-box;
}

.sidebar{
    background: #E0EBFE;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 370px;
}

.sidebarcontent{
    padding-top: 40px;
    padding-left: 40px;    
    padding-right: 40px;
    box-sizing: border-box;  
}

.contacts{
    color: #161D2A;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0 ;
    margin-bottom: 8;
}

.cell-email{
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    /* 171.429% */
    margin-right: 8px;
}

.contactlink{
    color: #2979FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
        /* 171.429% */
}

.contacts-element{
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-container{
    margin-bottom: 40px;
}

.skills-container{
    margin-bottom: 40px;
}

.skills-title{
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.skills-list{
    padding-left: 16px;
}

.skills-list-item{
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
        /* 171.429% */
}

.profession{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
        /* 121.429% */
    margin-top: 0px;
    margin-bottom: 8px;

    }

.my-name{
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
        /* 122.222% */
    margin-top: 0px;
    margin-bottom: 12px;
}

.info{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
        /* 171.429% */      
    width: 700px;
    }

.my-info{
    margin-bottom: 40px; 
}

.my-projects{
    color: #000;
        font-size: 22px;
        font-weight: 700;
        line-height: 27px;
        /* 122.727% */
        margin-top: 0px;
        margin-bottom: 8px;
}

.mpl{
    padding-left: 16px;
}

.project-item{
    color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        /* 171.429% */
    }
    .project-link{
        color: #005FFF;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            /* 171.429% */
            text-decoration-line: underline;
    }
    .tech{
        color: #595959;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

   .project-container{
        margin-bottom: 40px;
   }

    .work-exp-title{
        color: #000;
            font-size: 22px;
            font-weight: 700;
            line-height: 27px;
            /* 122.727% */
            margin-top: 0px;
            margin-bottom: 8px;
    }   

    .work-company{
        color: #000;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            /* 125% */
            margin-top: 0px;
            margin-bottom: 12px;
    }

    .company{
        color: #6D9BF5;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
    }

    .timeline{
        color: #A8A8A8;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            /* 125% */
            margin-top: 0px;
            margin-bottom: 8px;
    }

    .divider{
        color: #000;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
    }

        .work-list{
            padding-left: 16px;
        }

        .work-list-item{
            color: #595959;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                /* 171.429% */
        }

        .work-company-container{
            margin-bottom: 12px;
        }